@using Microsoft.AspNetCore.Identity
@model FeedTN.Models.MenuItemViewModels.MenuItemViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == true)
{
    <div class="row float-right">
        <p>@Model.MenuItem.FavoriteCount user(s) favorited this</p>
    </div>
}
else if (Model.UserHasFavorited == false)
{
    <div class="float-right">
        <p>@Model.MenuItem.FavoriteCount user(s) favorited this</p>
    </div>
    <div class="float-right">
        <form asp-controller="Favorites" asp-action="Create">
            <input type="hidden" asp-for="@Model.MenuItem.MenuItemId" />
            <input type="submit" value="Favorite" class="btn btn-success" />
        </form>
    </div>
}
else
{
    <div class="float-right">
        <p>@Model.MenuItem.FavoriteCount user(s) favorited this</p>
    </div>
    <div class="float-right">
        <form asp-controller="Favorites" asp-action="Delete">
            <input type="hidden" asp-for="@Model.MenuItem.MenuItemId" />
            <input type="submit" value="Unfavorite" class="btn btn-success" />
        </form>
    </div>
}

<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItem.Description)
        </dd>
        <dt class="col-sm-2">
            Gluten Free
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItem.GlutenFree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItem.Vegetarian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItem.Vegetarian)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItem.Vegan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItem.Vegan)
        </dd>
    </dl>
</div>

<form asp-controller="UserMenuItems" asp-action="Create" asp-route-id="@Model.MenuItem.MenuItemId">
    <input type="submit" class="btn btn-primary bg-primary border-primary" value="Add to order" />
</form>

<div>
    @if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == false)
    {
        <a asp-action="Index">Back to List</a>
    }
    else if (UserManager.GetUserAsync(User).Result.IsAdmin == true)
    {
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
        <a asp-action="Index">Back to List</a>
    }
</div>
