@using Microsoft.AspNetCore.Identity
@model FeedTN.Models.MenuItemViewModels.MenuItemViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

@if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == true)
{
    <div class="row float-right">
        <h4>@Model.MenuItem.FavoriteCount user(s) favorited this</h4>
    </div>
}
else if (Model.UserHasFavorited == false)
{
    <div class="float-right">
        <h4>@Model.MenuItem.FavoriteCount user(s) favorited this</h4>
    </div>
    <div class="float-right">
        <form asp-controller="Favorites" asp-action="Create">
            <input type="hidden" asp-for="@Model.MenuItem.MenuItemId" />
            <input type="submit" value="🤍 Favorite" class="btn" />
        </form>
    </div>
}
else
{
    <div class="float-right">
        <h4>@Model.MenuItem.FavoriteCount user(s) favorited this</h4>
    </div>
    <div class="float-right">
        <form asp-controller="Favorites" asp-action="Delete">
            <input type="hidden" asp-for="@Model.MenuItem.MenuItemId" />
            <input type="submit" value="❤ Unfavorite" class="btn" />
        </form>
    </div>
}

<div>
    <h4>@Html.DisplayFor(model => model.MenuItem.Title)</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">
                    Nutrition Facts
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.MenuItem.Description)
                </dd>
                <dt class="col-sm-3">
                    Gluten Free
                </dt>
                @if (Model.MenuItem.GlutenFree == true)
                {
                    <dd class="col-sm-7">
                        ✔
                    </dd>
                }
                else
                {
                    <dd class="col-sm-7">
                        ❌
                    </dd>
                }
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MenuItem.Vegetarian)
                </dt>
                @if (Model.MenuItem.Vegetarian == true)
                {
                    <dd class="col-sm-7">
                        ✔
                    </dd>
                }
                else
                {
                    <dd class="col-sm-7">
                        ❌
                    </dd>
                }
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MenuItem.Vegan)
                </dt>
                @if (Model.MenuItem.Vegan == true)
                {
                    <dd class="col-sm-7">
                        ✔
                    </dd>
                }
                else
                {
                    <dd class="col-sm-7">
                        ❌
                    </dd>
                }
            </dl>
        @if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == true)
        {

        } else
        {
        <form asp-controller="UserMenuItems" asp-action="Create" asp-route-id="@Model.MenuItem.MenuItemId">
            <input type="submit" class="btn btn-primary bg-primary border-primary" value="Add to cart" />
        </form>
        }
        </div>
        <div class="col-md-6">
            <div>
                <img style="max-height: 500px; max-width: 500px" src="~/images/@Model.MenuItem.ImagePath" alt="descriptive image" />
            </div>
        </div>
    </div>
</div>


<div>
    @if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == false)
    {
    }
    else if (UserManager.GetUserAsync(User).Result.IsAdmin == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.MenuItem.MenuItemId })
    }
</div>
