@using Microsoft.AspNetCore.Identity
@model IEnumerable<FeedTN.Models.MenuItem>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Today's Menu</h1>

@if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == false)
{
    <p>

    </p>
}
else if (UserManager.GetUserAsync(User).Result.IsAdmin)
{
    <p>
        <a asp-action="Create">Add New Menu Item</a>
    </p>
}

<a type="button" class="btn btn-primary mb-2" asp-action="Index" asp-route-filter="Gluten Free">Gluten Free</a>
<a type="button" class="btn btn-success mb-2" asp-action="Index" asp-route-filter="Vegetarian">Vegetarian</a>
<a type="button" class="btn btn-warning mb-2" asp-action="Index" asp-route-filter="Vegan">Vegan</a>
<a type="button" class="btn btn-info mb-2" asp-action="Index" asp-route-filter="All">Clear</a>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Gluten Free
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            @if (item.Active == true)
            {
                <tr>
                    <td>
                        <a href=@Url.Action("Details", "MenuItems", new { id = item.MenuItemId }) title="Details" class="links">
                            <img style="max-height: 250px; max-width: 250px" src="~/images/@item.ImagePath" alt="menu item image" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GlutenFree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vegetarian)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vegan)
                    </td>
                    @if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == false)
                    {
                        <td>
                        </td>
                    }
                    else if (UserManager.GetUserAsync(User).Result.IsAdmin == true)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MenuItemId })
                            @*Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("SetInactive", "SetInactive", new { id = item.MenuItemId }) *@
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == false)
{
    <table>
    </table>
}
else if (UserManager.GetUserAsync(User).Result.IsAdmin == true)
{
    <h1>Inactive Items</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Gluten Free
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vegetarian)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vegan)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Active == false)
                {
                    <tr>
                        <td>
                            <a href=@Url.Action("Details", "MenuItems", new { id = item.MenuItemId }) title="Details" class="links">
                                <img style="max-height: 250px; max-width: 250px" src="~/images/@item.ImagePath" alt="menu item image" />
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GlutenFree)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vegetarian)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vegan)
                        </td>
                        @if (!SignInManager.IsSignedIn(User) || UserManager.GetUserAsync(User).Result.IsAdmin == false)
                        {
                            <td>
                            </td>
                        }
                        else if (UserManager.GetUserAsync(User).Result.IsAdmin == true)
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MenuItemId })
                                @*Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("SetInactive", "SetInactive", new { id = item.MenuItemId }) *@
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}
